@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: auto;
}

#header {
  padding: 15px 0;
  background: #323232;
}
#header .header-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-general__logo {
  display: flex;
  align-items: center;
}
#header .header-general__text {
  margin: 0 11px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.5px;
  color: #DEDEDE;
}
#header .header-general__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #DEDEDE;
  margin: 0 10px;
}

#hi {
  background: #292929;
  padding-top: 120px;
}
#hi .hi-general {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hi .hi-general__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #DEDEDE;
  margin-bottom: 15px;
}
#hi .hi-general__desk {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #959595;
  margin-bottom: 69px;
}
#hi .hi-general__btn {
  width: 400px;
  height: 64px;
  background: #9D9D9D;
  margin-bottom: 173px;
}
#hi .hi-general__text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
#hi .hi-general__stel {
  display: flex;
  align-items: center;
}
#hi .hi-general__desk1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #DEDEDE;
  margin: 0 15px;
}

#inver {
  background: #292929;
  padding-top: 160px;
}
#inver .inver-general {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inver .inver-general__pic {
  margin-top: -200px;
}

#visual {
  background: #292929;
  padding-top: 100px;
}
#visual .visual-general__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #DEDEDE;
  margin-bottom: 50px;
}
#visual .visual-general__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#personal {
  background: #292929;
  padding-top: 240px;
}
#personal .personal-general__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #DEDEDE;
  margin-bottom: 66px;
}
#personal .personal-general__img {
  display: flex;
  justify-content: space-between;
}

#contact {
  background: #292929;
  padding-top: 240px;
}
#contact .contact-general__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #DEDEDE;
  margin-bottom: 24px;
}
#contact .contact-general__desk {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #959595;
  margin-bottom: 46px;
}
#contact .contact-general__btn {
  width: 400px;
  height: 64px;
  background: #9D9D9D;
  margin-left: 370px;
}
#contact .contact-general__text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

#made {
  background: #292929;
  padding-top: 200px;
}
#made .made-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#made .made-general__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #959595;
}
#made .made-general__color {
  color: white;
}

/*# sourceMappingURL=style.css.map */
